/* Footer */
:root{
    --main1: #2c558f;
    --main2: #d9cdbf;
}
.containerr{
    background-color: var(--main1);
    color: var(--main2);
}
.footerpart2 a {
    color: var(--main2) !important;
}
.footerpart1 img{
    max-width: 250px;
}
.allRightReserved{
    background-color: var(--main2);
    color: var(--main1);
}
.footer a:hover {
  color: #898a6f;
  text-decoration: underline !important;
}
.social i{
    color: var(--main2);
    border-color: var(--main2) !important;
}
.footerpart4 img{
    transition: 0.3s ease-in-out;
}
.footerpart4 img:hover {
    transform: scale(1.1);
}


/* header */
.custom-navbar {
  background: var(--main1);
  opacity: 1 !important;
  position: fixed;
  top: 0; 
  left: 0;
  width: 100%; 
  z-index: 9999;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}
.navbar-brand span {
  color: #fff;
  font-weight: 600;
  font-size: 1.2rem;
}
.username-highlight {
  color: #ffd700;
  font-weight: 600;
}
.nav-link {
  color: #fff !important;
  font-weight: 500;
  position: relative;
  padding: 8px 12px;
  transition: color 0.3s;
}
.nav-link.active,
.nav-link:hover {
  color: #aec8ed !important;
}
.nav-link.active::after,
.nav-link:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 80%;
  height: 2px;
  background-color: #aec8ed;
  border-radius: 2px;
}
.footerpart2 a,
.footerpart2 a:link,
.footerpart2 a:visited,
.footerpart2 a:hover,
.footerpart2 a:active,
.no-bullets a,
.no-bullets a:link,
.no-bullets a:visited,
.no-bullets a:hover,
.no-bullets a:active {
    color: var(--main2) !important;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}
